<%= form_for(@shelf) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field col-md-6">
    <%= f.text_area :type, placeholder: "Add a tag" %>
  </div>
  <%= f.submit "Add", class: "btn btn-primary col-md-2" %>
<% end %>
