<%= form_for(@shelf) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field col-md-6">
    <%= f.text_field :category, placeholder: "Shelf Tag", class: 'form-control' %>
  </div>
  <%= f.submit "Add Shelf", class: "btn btn-primary col-md-4" %>
<% end %>
