<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>

<li id="item" >
<%= image_tag(image_path("#{item.title}.jpg"))%>

<% if current_user?(item.shelf.user) %>

<%= link_to "X", item_path(:item_id => item.id), method: :delete,
                                      class: "btn btn-primary btn-xs" %>
<% end %>

</li>
