@import "bootstrap-sprockets";
@import "bootstrap";

 /* universal */

 html {
	overflow-y: scroll;
 }

 body {
	padding-top: 60px
 }

 section {
	overflow: auto;
 }

 textarea {
 	resize: vertical;
 }

 .center {
	text-align: center;
 }
 .center h1 {
	margin-bottom: 10px;
 }

 .row aside {
  padding-bottom: 10px;
}

/* typography */

 h1, h2, h3, h4, h5, h6 {
	line-height: 1;
 }

 h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
 }
 h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
 }

 p {
	font-size: 1.1em;
	line-height: 1.7em;
 }

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-top: 3px;
  font-weight: bold;
  position: absolute;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#shelf_type{
  height:35px;
}

/* sidebar */

#welcome {
  width: 55%;
  margin-left: 20%;

}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
} 

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/*Shelves*/

#shelf {
  margin-top: 5%;
  margin-bottom: 2%;
  position: initial;
  padding:0px;
}

#shelf_logo{
  width: 160px;
  position: absolute;
  padding-top: 28px;
  margin-left: -17px;

}



.shelves {
  padding-right: 40px;
  margin-top: 5%;
}

.shelf{
  position: relative;
}

.shelf .btn {
  margin-top: 6%;
}

.category{
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
  position: absolute;
  bottom: 13%;
  left: 15%;
  text-align: center;
  font-family: monospace;
  font-weight: bold;


}






.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Items */

#item {
 width: 100px;
 float: left;
 display: inline;
 height:110px;
 position: relative;
}

#item img {
 width: 70px;
 height: 100px;
 float: left;
 -webkit-box-reflect: below 1px
 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(rgba(255,255,255,.4))); /* reflection is supported by webkit only */
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}

#delbtn {
  margin-left: 90px;
  top: -45px;
  margin-bottom: 90px;
  left: 0px;

  position: absolute;
  opacity: 0;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}

#delbtn:hover {

  opacity: 1;

}



#item:hover img {
-webkit-transform: scale(1.5);
}

#item:hover #delbtn {
  opacity: 1;
}

.items {
  width:80%;
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  left: 6%;
  position: absolute;
}

#book {
  height: 135px;
  padding-top: 19px;
  position: relative;
  list-style-type: none;


}
#book img {
  width: 14%;
  left: 30px;
}

#book p {
  float: left;
  text-align: left;
  padding-left: 30px;
  b {
     color: #a23607;
  }
  
}

#book a{
  bottom: 55px;
  position: absolute;
  right: 15px;

}

#film {
  height: 135px;
  padding-top: 19px;
  position: relative;
  list-style-type: none;


}
#film img {
  width: 14%;
  left: 30px;
}

#film a{
  bottom: 55px;
  position: absolute;
  right: 15px;

}

#film p {
  float: left;
  text-align: left;
  padding-left: 30px;
  b {
     color: #a23607;
  }
  
}


#game {
  height: 135px;
  padding-top: 19px;
  position: relative;
  list-style-type: none;


}
#game img {
  width: 14%;
  left: 30px;
}

#game a{
  bottom: 55px;
  position: absolute;
  right: 15px;

}

#game p {
  float: left;
  text-align: left;
  padding-left: 30px;
  b {
     color: #a23607;
  }
  
}



/* Stats */

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* Feed */

.feed h4 {
  padding: 7px;
  margin-bottom: 5px;


}

.feed h4 a img {
  float: none;

}

/* Modal */
.modal-dialog {
  max-width: 60%;
}


